body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la vue */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #444;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

main {
    flex: 1; /* Occupe l'espace restant */
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* La marge en haut pour pousser vers le bas */
}

select {
    margin-bottom: 10px;
}